.message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 12px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: 300;
  font-size: large;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  min-width: 60%;
}

.success {
  background-color: #28a745;
  border: 1px solid #28a745;
}

.info {
  background-color: #17a2b8;
  border: 1px solid #17a2b8;
}

.error {
  background-color: #dc3545;
  border: 1px solid #dc3545;
}

.warning {
  background-color: #ffc107;
  border: 1px solid #ffc107;
}
